/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Content */
.content {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Success Icon */
.icon-container {
    margin-bottom: 1.5rem;
}

.success-icon {
    width: 80px;
    height: 80px;
}

/* Heading */
.heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #191919;
}

/* Subheading */
.subheading {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #666;
}

/* Call to Action Button */
.cta-button {
    padding: 1rem;
    background-color: #6573cc;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #4c5ab8;
}
